.about_us {
  display: flex;
  flex-direction: row;
  gap: 15px;
  min-height: 710px;
  overflow: hidden;
}

.about_us__img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.about_us__img img {
  /* width: 100px;
  height: 100px; */
  object-fit: contain;
}

.about_us__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  margin-right: 25px;
}

.about-us-content-info {
  padding: 0px 64px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.about-us-content-info h2 span {
  display: flex;

  border-top: 3px solid var(--third-color);
  width: 105px;
  margin: 35px auto 0px auto;

  position: relative;
  bottom: 5px;
}

.about-us-content-info h2 {
  font-weight: bold;
  font-size: 50px;
  font-family: var(--my-poppins);
  color: var(--color-white);
  text-transform: uppercase;
}

.about-us-content-info h3 {
  font-weight: 500;
  font-size: 48px;
  font-family: var(--my-poppins);
  color: var(--color-white);

  margin-top: 45px;
}

.about-us-content-info p {
  font-weight: 300;
  font-size: 24px;
  font-family: var(--my-inter);
  color: var(--color-white);

  margin: 20px 0px 45px 0px;
}

.about-us-content__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about-us-content__order-button {
  padding: 20px 30px;
  background-color: var(--third-color);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  font-weight: bold;
  font-size: 20px;
}

.about-us-content__play-button {
  padding: 20px 30px;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;

  font-weight: bold;
  font-size: 20px;
}

.about-us-content__play-button span {
  display: flex;

  border-top: 3px solid var(--third-color);
  width: 105px;
  margin: 0px auto 0px auto;

  position: relative;
  top: 5px;
}

.about-us-content__image {
  display: flex;
  flex-direction: wrap;
  align-content: flex-end;
}

.about-us-content__image img {
  width: 500px;
  height: auto;
  object-fit: contain;
}